html,body{
  height:100%; 
  width:100%;
  margin:0%;
}


html, body.dark {
  background-color: #161616;
  color: #FFFFFF;
}

html, body.light {
  background-color: #FFFFFF;
  color: #161616;
}

p, b, h3, tr {
  font-family: 'Lora', serif;
  
}

h1 {
  @font-face {
    font-family: ObadiahProRegular;
    src: url("ObadiahProRegular.otf");
  }

  /*
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  */
}

input, textarea {
  background-color: #5CDB95;
}

.mainTitle {
  width: 100%;
  background-color: #da493a;
  text-align: center;
  padding: .5px 0;
  font-size: 20px;
}

fieldset {
  display: block;
  width: 97%;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px groove (internal value);
}

legend {
  background-color: #da493a;
  padding: 5px 10px;
}

#toggle_b {
  background-color: #da493a;
  position: fixed;
  bottom: 0;
  right: 0;
}