html,body{
  height:100%; 
  width:100%;
  margin:0%;
}


html, body.dark {
  background-color: #161616;
  color: #FFFFFF;
}

html, body.light {
  background-color: #FFFFFF;
  color: #161616;
}

p, b, h3, tr {
  font-family: 'Lora', serif;
  
}

h1 {
  @font-face {
    font-family: ObadiahProRegular;
    src: url("ObadiahProRegular.otf");
  }

  /*
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  */
}

.mainTitle {
  width: 100%;
  background-color: #da493a;
  text-align: center;
  padding: .5px 0;
  font-size: 20px;
}

fieldset {
  display: block;
  width: 97%;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 1%;
  padding-right: 1%;
  border: 2px groove (internal value);
}

legend {
  background-color: #da493a;
  padding: 5px 10px;
}

.button {
  display: inline-flex;
  height: 40px;
  padding: 0;
  background: #da493a;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family:'Lora', serif;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.button:hover {
  background-color: #ba3e31;
}

.button:active {
  background-color: #773028;
}

.button__icon, .button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  color: white;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}

input[type=number] {
  background-color: #f1ccb5;
  padding: 5px;
  margin:1px 1px;
  border: 1px solid #eee;
  border-radius:8px;
  box-shadow:0 0 15px 4px rgba(10,0,0, 0.06);
}

input[type=number]:hover {
  border: 1px solid #aaa;
}


input[type=number]:focus {
  background-color: #edddd3;
  border-color: #000;
}